.btn {
    display: inline-block;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;
    padding: 12px 45px;
    border-radius: 22px;
    cursor: pointer;
}

.bkg {
    background: linear-gradient(90deg, #F764B6 0%, #BB96FD 100%);
}