.sidenav {
    transition: all .5s ease;
}

.sidenav-collapsed {
    width: 5rem;
}


.gradient-hover:hover {
    background: linear-gradient(180deg, #BB96FD 0%, #F764B6 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.sidenav-nav-item:hover {
    background-color: #F7F7F7;
    outline: 1px solid #E0E3E6;
    border-radius: 8px;
}