.sidenav {
    transition: width .5s ease-in-out;
}

.sidenav-content {
    overflow: hidden;
    white-space: nowrap;
    transition: opacity .5s ease-in-out;
}

.is-expanded .sidenav-content {
    opacity: 1;
}

.is-collapsed .sidenav-content {
    opacity: 0;
}

.gradient-hover:hover {
    background: linear-gradient(180deg, #BB96FD 0%, #F764B6 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.sidenav-nav-item:hover {
    background-color: #F7F7F7;
    outline: 1px solid #E0E3E6;
    border-radius: 8px;
}

.buttonHideMore{
    left: 0;
    right: 0;
    height: inherit;
    width: inherit;
    background: transparent;
    position: absolute;
} 