<main class="p-4">
    <app-management-bar (add)="handleAdd()" (edit)="handleEdit()" (delete)="handleDelete()"
                        [title]="title"></app-management-bar>


    <div class="bg-white shadow rounded-lg p-4 overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead>
                <tr>
                    @for (field of paymentFields; track field) {
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        {{ field.header }}
                    </th>
                    }
                </tr>
            </thead>

            @if(paymentList$ | async; as payments) {
            <tbody class="bg-white divide-y divide-gray-200">
                @for (payment of payments; track payment.id) {
                <tr (click)="selectPayment(payment)" class="cursor-pointer hover:bg-gray-100 transition"
                    [class.bg-gray-200]="selectedPayment === payment">
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ payment.id }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ payment.date }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ payment.total }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ payment.customer.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ payment.paymentMethod.name }}
                    </td>
                </tr>
                }
            </tbody>
            }

        </table>
    </div>

    <!-- Modal -->
    @if (isModalOpen) {
    <app-modal [label]="modalLabel" [title]="title" (close)="closeModal()" (save)="savePayment()">

        @for (field of paymentFields; track field) {
        <app-input [inputId]="field.name" [label]="field.header" [type]="field.type"
                   [value]="getFieldValue(selectedPayment, field.name)" width="100%">
        </app-input>}

    </app-modal>
    }
</main>