<main class="p-4">
    @if (isModalOpen) {
    <app-modal [title]="title" (close)="closeModal()">

        @for (field of paymentFields; track field) {
        <app-input [inputId]="field.name" [label]="field.header" [type]="field.type" width="100%"></app-input>}

        <div class="flex justify-center">
            <app-main-button label="Save"></app-main-button>
        </div>
    </app-modal>
    }


    <app-management-bar (add)="openModal()" [title]="title"></app-management-bar>

    <div class="bg-white shadow rounded-lg p-4 overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead>
                <tr>
                    @for (field of paymentFields; track field) {
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        {{ field.header }}
                    </th>
                    }
                </tr>
            </thead>

            @if(paymentList$ | async; as paymentResults) {
            <tbody class="bg-white divide-y divide-gray-200">
                @for (payment of paymentResults.payments; track payment.id) {
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ payment.id }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ payment.date }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ payment.total }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ payment.customer.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ payment.paymentMethod.name }}
                    </td>
                </tr>
                }
            </tbody>
            }

        </table>
    </div>
</main>