<div class="flex flex-auto w-full h-screen">
    <app-sidebar #sidebarContainer class="transition-width duration-300 overflow-x-hidden" [class.w-16]="isCollapsed"
        [class.w-64]="!isCollapsed">
    </app-sidebar>

    <div class="flex-grow">

        <nav class="flex items-center justify-end w-full h-16 left-0 top-0 bg-navbar-gradient gap-x-7 px-7">
            <div>
                <a href="#" class="text-gray-50 font-bold">Home</a>
                <a href="#" class="text-gray-50 font-bold">Home</a>
                <a href="#" class="text-gray-50 font-bold">Home</a>
                <a href="#" class="text-gray-50 font-bold">About Us</a>
            </div>
        </nav>
        <app-product-management></app-product-management>
    </div>
</div>