<main>
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6 p-4">
        <article class="bg-white shadow-md rounded p-12 w-full h-full">
            <img src="producto1.jpg" alt="Producto 1" class="w-full h-80 object-cover rounded-t">
            <h2 class="text-2xl font-bold mb-2">Producto 1</h2>
            <p class="text-gray-600">Descripción del producto 1</p>
            <p class="text-lg font-bold">$100.000</p>
        </article>
        <article class="bg-white shadow-md rounded p-12 w-full h-full">
            <img src="producto2.jpg" alt="Producto 2" class="w-full h-80 object-cover rounded-t">
            <h2 class="text-2xl font-bold mb-2">Producto 2</h2>
            <p class="text-gray-600">Descripción del producto 2</p>
            <p class="text-lg font-bold">$59.000</p>
        </article>
        <article class="bg-white shadow-md rounded p-12 w-full h-full">
            <img src="producto3.jpg" alt="Producto 3" class="w-full h-80 object-cover rounded-t">
            <h2 class="text-2xl font-bold mb-2">Producto 3</h2>
            <p class="text-gray-600">Descripción del producto 3</p>
            <p class="text-lg font-bold">$78.000</p>
        </article>
        <article class="bg-white shadow-md rounded p-12 w-full h-full">
            <img src="producto4.jpg" alt="Producto 4" class="w-full h-80 object-cover rounded-t">
            <h2 class="text-2xl font-bold mb-2">Producto 4</h2>
            <p class="text-gray-600">Descripción del producto 4</p>
            <p class="text-lg font-bold">$124.000</p>
        </article>
        <article class="bg-white shadow-md rounded p-12 w-full h-full">
            <img src="producto5.jpg" alt="Producto 5" class="w-full h-80 object-cover rounded-t">
            <h2 class="text-2xl font-bold mb-2">Producto 5</h2>
            <p class="text-gray-600">Descripción del producto 5</p>
            <p class="text-lg font-bold">$91.000</p>
        </article>
        <article class="bg-white shadow-md rounded p-12 w-full h-full">
            <img src="producto6.jpg" alt="Producto 6" class="w-full h-80 object-cover rounded-t">
            <h2 class="text-2xl font-bold mb-2">Producto 6</h2>
            <p class="text-gray-600">Descripción del producto 6</p>
            <p class="text-lg font-bold">$84.000</p>
        </article>
    </section>
</main>