<main class="flex justify-center items-center w-full h-screen">
    <div class="container" #container>
        <div class="box">

            <div class="form sign_in">
                <img src="gnglogo.svg" alt="Grab and Go logo">
                <h3 class="mt-4">Sign In</h3>
                <span>or use your account</span>

                <form id="form_signIn" class="form_input" (submit)="onLogin()" [formGroup]="signInForm">
                    <app-input type="text" inputId="usernameSignIn" label="Username"
                               formControlName="username"></app-input>
                    <app-input type="password" inputId="passwordSignIn" label="Password"
                               formControlName="password"></app-input>
                    <button type="submit" class="btn bkg" [disabled]="!signInForm.valid">Sign
                        In</button>
                </form>

            </div>

            <div class="form sign_up py-2 max-h-screen">
                <h3>Sign Up</h3>
                <span>or use your email for register</span>

                <form id="form_signUp" class="form_input overflow-y-auto px-4" (submit)="onRegister()"
                      [formGroup]="signUpForm">

                    <app-input type="text" inputId="nameSignUp" label="Name" formControlName="name"></app-input>
                    <app-input type="text" inputId="lastNameSignUp" label="Last Name"
                               formControlName="lastName"></app-input>
                    <app-input type="text" inputId="usernameSignUp" label="Username"
                               formControlName="username"></app-input>
                    <app-input type="password" inputId="passwordSignUp" label="Password"
                               formControlName="password"></app-input>
                    <app-input type="email" inputId="emailSignUp" label="Email" formControlName="email"></app-input>
                    <app-input type="text" inputId="idNumberSignUp" label="Identification number"
                               formControlName="idNumber"></app-input>
                    <app-input type="number" inputId="telephoneSignUp" label="Telephone"
                               formControlName="telephone"></app-input>
                    <app-input type="text" inputId="addressSignUp" label="Address"
                               formControlName="address"></app-input>

                    <div class="flex justify-between my-8 h-12">
                        @if ( countryList$ | async; as countryResults) {
                        <app-select selectId="country" name="country" label="Country" width="160px"
                                    formControlName="country">
                            <option value="" selected disabled>Country</option>

                            @for (country of countryResults.countries; track country.id) {
                            <option [value]="country">{{country}}</option>
                            }
                        </app-select>
                        }

                        @if ( regionList$ | async; as regionResults) {
                        <app-select selectId="region" name="region" label="Region" width="160px"
                                    formControlName="region">
                            <option value="" selected disabled>Region</option>
                            @for (region of regionResults.regions; track region.id) {
                            <option [value]="region">{{region}}</option>
                            }
                        </app-select>
                        }
                    </div>

                    <div class="flex justify-between my-8 h-12">

                        @if ( cityList$ | async; as cityResults) {
                        <app-select selectId="city" name="city" label="City" width="160px" formControlName="city">
                            <option value="" selected disabled>City</option>

                            @for (city of cityResults.cities; track city.id) {
                            <option [value]="city">{{city}}</option>
                            }
                        </app-select>
                        }

                        <div class="h-12 relative flex rounded-xl w-[160px]">
                            <input type="number" id="postalCode" formControlName="postalCode" required
                                   class="peer w-full outline-none px-4 text-base rounded-xl bg-body focus:bg-white border focus:shadow-md" />
                            <label for="postalCode"
                                   class="absolute top-1/2 left-4 px-2 rounded bg-body text-input peer-focus:top-0 peer-focus:left-3 font-light text-base peer-focus:bg-white peer-focus:text-sm peer-focus:text-mainpink peer-valid:-top-0 peer-valid:left-3 peer-valid:text-sm peer-valid:text-mainpink translate-y-[-50%] duration-150">
                                Postal Code
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn bkg" [disabled]="!signUpForm.valid">Sign Up</button>
                </form>

            </div>

        </div>

        <div class="overlay">
            <div class="page page_signIn">
                <h3>Welcome Back!</h3>
                <button class="btn btnSign-in" (click)="toggleSignIn()">Sign Up <i
                       class='bx bx-chevron-right'></i></button>
            </div>
            <div class="page page_signUp">
                <h3>Hello Friend!</h3>
                <button class="btn btnSign-up" (click)="toggleSignUp()">
                    <i class='bx bx-chevron-left'></i> Sign In</button>
            </div>
        </div>

    </div>
</main>