<div class="container" #container>
    <div class="box">
        <div class="form sign_in">
            <img src="gnglogo.svg" alt="Grab and Go logo">
            <h3 class="mt-4">Sign In</h3>
            <span>or use your account</span>
            <form action="#" id="form_input" (submit)="onLogin()">
                <div class="type">
                    <input type="email" placeholder="Email" name="" id="email">
                </div>
                <div class="type">
                    <input type="password" placeholder="Password" name="" id="password">
                </div>
                <div class="forgot">
                    <span>Forgot your password?</span>
                </div>
                <button class="btn bkg">Sign In</button>
            </form>
        </div>
        <div class="form sign_up py-2 max-h-screen">
            <h3>Sign Up</h3>
            <span>or use your email for register</span>
            <form action="#" id="form_input" class="overflow-y-auto px-4">
                <div class="type">
                    <input type="text" name="name" placeholder="Name" id="name">
                </div>
                <div class="type">
                    <input type="text" name="lastName" placeholder="Last Name" id="lastName">
                </div>
                <div class="type">
                    <input type="email" name="" placeholder="Email" id="email">
                </div>
                <div class="type">
                    <input type="text" name="idNumber" placeholder="Identification Number" id="idNumber">
                </div>
                <div class="type">
                    <input type="text" name="telephone" placeholder="Telephone" id="telephone">
                </div>
                <div class="type_select">
                    <div class="flex justify-between">
                        <select name="country" id="country" class="select">
                            <option value="" selected disabled>Country</option>
                            <option value="colombia">Colombia</option>
                        </select>
                        <select name="region" id="region" class="select">
                            <option value="" selected disabled>Region</option>
                            <option value="region">Santander</option>
                        </select>
                    </div>
                </div>
                <div class="type_select">
                    <div class="flex justify-between">
                        <select name="city" id="city" class="select">
                            <option value="" selected disabled>City</option>
                            <option value="city">Bucaramanga</option>
                        </select>
                        <input class="select" type="text" name="postalCode" placeholder="Postal Code" id="postalCode">
                    </div>
                </div>
                <button class="btn bkg">Sign Up</button>
            </form>
        </div>
    </div>
    <div class="overlay">
        <div class="page page_signIn">
            <h3>Welcome Back!</h3>
            <button class="btn btnSign-in" (click)="toggleSignIn()">Sign Up <i class='bx bx-chevron-right'></i></button>
        </div>
        <div class="page page_signUp">
            <h3>Hello Friend!</h3>
            <button class="btn btnSign-up" (click)="toggleSignUp()">
                <i class='bx bx-chevron-left'></i> Sign In</button>
        </div>
    </div>
</div>