.container {
    display: flex;
    height: 650px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 20px;
    overflow: hidden;
    width: 838px;
}

@keyframes Show {

    0%,
    49.999% {
        opacity: 0;
        z-index: 1;
    }

    100% {
        opacity: 1;
        z-index: 5;
    }
}

@keyframes Hidden {

    0%,
    49.999% {
        opacity: 1;
        z-index: 5;
    }

    100% {
        opacity: 0;
        z-index: 1;
    }
}

.container .box {
    position: relative;
    display: flex;
    height: 100%;
    width: 50%;
    transition: all 0.8s;
    transform: translateX(0);
    background-color: #fff;
    z-index: 1;
    overflow: hidden;
}


.container.active .box {
    transform: translateX(100%);
}

.container .box .form {
    position: absolute;
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .box .form.sign_up {
    transition: all 1.15s;
    z-index: 1;
    opacity: 0;
    background-color: #fff;
}

.container .box .form.sign_in {
    opacity: 1;
    transition: all 1.15s;
    z-index: 5;
    background-color: #fff;
}

.container.active .box .form.sign_in {
    z-index: 1;
    opacity: 0;
}

.container.active .box .form.sign_up {
    z-index: 5;
    opacity: 1;
}

.container .overlay {
    display: flex;
    height: 100%;
    width: 50%;
    transition: all 0.8s;
    transform: translateX(0);
    background-color: #F764B6;
    z-index: 1;
    overflow: hidden;
    z-index: 5;
    opacity: 1;
}

.container.active .overlay {
    transform: translateX(-100%);
}

.container .overlay .page {
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
    opacity: 1;
    background: linear-gradient(180deg, #F764B6 0%, #BB96FD 100%);
}

.container.active .overlay .page.page_signIn {
    opacity: 0;
    margin-left: -100%;
    padding: 0 4px;
}

.container.active .overlay .page.page_signUp {
    margin-left: 0%;
}


.overlay .page h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

.overlay .page p {
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 17px;
}

.btn {
    display: inline-block;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;
    padding: 12px 45px;
    border-radius: 22px;
    cursor: pointer;
}

.form h3 {
    color: #222;
    font-size: 40px;
}

.form span {
    color: #3a3838;
}

.form_input .type {
    width: 330px;
    height: 48px;
    color: #909090;
    background-color: #D9D9D999;
    border-radius: 8px;
    margin: 30px 0;
}

.type_select {
    width: 330px;
    height: 48px;
}

.select {
    width: 48%;
    height: 48px;
    padding: 0 10px;
    color: #909090;
    background-color: #F7F7F7;
    border-radius: 8px;
}


.form_input .type input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
}

.form_input .type input::placeholder {
    color: #909090;
}

.form_input .forgot {
    margin-bottom: 20px;
    font-weight: 500;
}

.bkg {
    background: linear-gradient(90deg, #F764B6 0%, #BB96FD 100%);
}

.btnSign-in,
.btnSign-up {
    background: #FFFFFF3D;
}