<main class="flex justify-center items-center w-full h-screen">
    <div class="container" #container>
        <div class="box">

            <div class="form sign_in">
                <img src="gnglogo.svg" alt="Grab and Go logo">
                <h3 class="mt-4">Sign In</h3>
                <span>or use your account</span>
                <form action="#" id="form_input" (submit)="onLogin()">
                    <app-input type="text" inputId="username" label="Username"></app-input>
                    <app-input type="password" inputId="password" label="Password"></app-input>
                    <div class="forgot">
                        <span>Forgot your password?</span>
                    </div>
                    <button class="btn bkg">Sign In</button>
                </form>
            </div>

            <div class="form sign_up py-2 max-h-screen">
                <h3>Sign Up</h3>
                <span>or use your email for register</span>
                <form action="#" id="form_input" class="overflow-y-auto px-4">

                    <app-input type="text" inputId="nameSignUp" label="Name"></app-input>
                    <app-input type="text" inputId="lastNameSignUp" label="Last Name"></app-input>
                    <app-input type="text" inputId="usernameSignUp" label="Username"></app-input>
                    <app-input type="password" inputId="passwordSignUp" label="Password"></app-input>
                    <app-input type="email" inputId="emailSignUp" label="Email"></app-input>
                    <app-input type="text" inputId="idNumberSignUp" label="Identification number"></app-input>
                    <app-input type="number" inputId="telephoneSignUp" label="Telephone"></app-input>
                    <app-input type="text" inputId="addressSignUp" label="Address"></app-input>

                    <div class="flex justify-between my-8 h-12">
                        <app-select selectId="country" name="country" label="Country" width="160px">
                            <option value="" selected disabled>Country</option>
                            <option value="colombia">Colombia</option>
                            <option value="mexico">Mexico</option>
                        </app-select>
                        <app-select selectId="region" name="region" label="Region" width="160px">
                            <option value="" selected disabled>Country</option>
                            <option value="colombia">Colombia</option>
                            <option value="mexico">Mexico</option>
                        </app-select>
                    </div>

                    <div class="flex justify-between my-8 h-12">
                        <app-select selectId="city" name="city" label="City" width="160px">
                            <option value="" selected disabled>City</option>
                            <option value="colombia">Colombia</option>
                            <option value="mexico">Mexico</option>
                        </app-select>
                        <div class="h-12 relative flex rounded-xl w-[160px]">
                            <input type="number" id="postalCode" required
                                class="peer w-full outline-none px-4 text-base rounded-xl bg-body focus:bg-white border focus:shadow-md" />
                            <label for="postalCode"
                                class="absolute top-1/2 left-4 px-2 rounded bg-body text-input peer-focus:top-0 peer-focus:left-3 font-light text-base peer-focus:bg-white peer-focus:text-sm peer-focus:text-mainpink peer-valid:-top-0 peer-valid:left-3 peer-valid:text-sm peer-valid:text-mainpink translate-y-[-50%] duration-150">
                                Postal Code
                            </label>
                        </div>
                    </div>

                    <button class="btn bkg">Sign Up</button>
                </form>
            </div>

        </div>
        <div class="overlay">
            <div class="page page_signIn">
                <h3>Welcome Back!</h3>
                <button class="btn btnSign-in" (click)="toggleSignIn()">Sign Up <i
                        class='bx bx-chevron-right'></i></button>
            </div>
            <div class="page page_signUp">
                <h3>Hello Friend!</h3>
                <button class="btn btnSign-up" (click)="toggleSignUp()">
                    <i class='bx bx-chevron-left'></i> Sign In</button>
            </div>
        </div>
    </div>
</main>