<div #sidebar class="transform -translate-x-full md:translate-x-0 transition-transform">
    <div class="p-4">
        <h2 class="text-xl font-semibold">Angeli Corredor Rodriguez</h2>
        <p class="text-sm">Administrador</p>
    </div>
    <nav class="mt-4">
        <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-gray-200">Home</a>
        <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-gray-200">Productos</a>
        <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-gray-200">Clientes</a>
        <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-gray-200">Pedidos</a>
        <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-gray-200">Pagos</a>
        <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-gray-200">Empleados</a>
        <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-gray-200">Mas</a>
    </nav>
</div>