<main class="p-4">
    @if (isModalOpen) {
    <app-modal label="Save" [title]="title" (close)="closeModal()">

        @for (field of customerFields; track field) {
        <app-input [inputId]="field.name" [label]="field.header" [type]="field.type" width="100%"></app-input>}

    </app-modal>
    }


    <app-management-bar (add)="openModal()" [title]="title"></app-management-bar>

    <div class="bg-white shadow rounded-lg p-4 overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead>
                <tr>
                    @for (field of customerFields; track field) {
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        {{ field.header }}
                    </th>
                    }
                </tr>
            </thead>

            @if(customerList$ | async; as customerResults) {
            <tbody class="bg-white divide-y divide-gray-200">
                @for (customer of customerResults.customers; track customer.id) {
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ customer.id }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ customer.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ customer.lastName }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ customer.address }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ customer.postalCode }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ customer.city.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ customer.customerContact.phone}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ customer.employee.name}}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ customer.user.username}}</td>

                </tr>
                }
            </tbody>
            }

        </table>
    </div>
</main>