<div class="p-4">
    <h2 class="text-xl font-semibold">Angeli Corredor Rodriguez</h2>
    <p class="text-sm">Administrador</p>
</div>
<nav class="mt-4">
    <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-gray-200"><i>Icon</i>Home</a>
    <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-gray-200"><i>Icon</i>Productos</a>
    <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-gray-200"><i>Icon</i>Clientes</a>
    <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-gray-200"><i>Icon</i>Pedidos</a>
    <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-gray-200"><i>Icon</i>Pagos</a>
    <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-gray-200"><i>Icon</i>Empleados</a>
    <a href="#" class="block py-2 px-4 text-gray-700 hover:bg-gray-200"><i>Icon</i>Mas</a>
</nav>