<main class="p-4">
    <app-management-bar (add)="handleAdd()" (edit)="handleEdit()" (delete)="handleDelete()"
                        [title]="title"></app-management-bar>

    <div class="bg-white shadow rounded-lg p-4 overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead>
                <tr>
                    @for (field of productFields; track field) {
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        {{ field.header }}
                    </th>
                    }
                </tr>
            </thead>

            @if (productList$ | async; as products) {
            <tbody class="bg-white divide-y divide-gray-200">
                @for (product of products; track product.id) {
                <tr (click)="selectProduct(product)" class="cursor-pointer hover:bg-gray-100 transition"
                    [class.bg-gray-200]="selectedProduct === product">
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ product.id }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ product.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ product.productGamma_id || 'N/A' }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ product.description }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ product.supplier_nit || 'N/A'}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ product.sellPrice || 'N/A' }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ product.supplierPrice || 'N/A' }}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ product.img || 'N/A' }}
                    </td>
                </tr>
                }
            </tbody>
            }
        </table>
    </div>

    <!-- Modal -->
    @if (isModalOpen) {
    <app-modal [label]="modalLabel" [title]="title" (close)="closeModal()" (save)="saveProduct()">

        <form (submit)="saveProduct()" [formGroup]="productForm">
            @for (field of productFields; track field) {
            <app-input [inputId]="field.name" [label]="field.header" [type]="field.type" [formControlName]="field.name"
                       width="100%">
            </app-input>}
        </form>


    </app-modal>
    }
</main>