<main class="p-4">
    <app-management-bar (add)="handleAdd()" (edit)="handleEdit()" [title]="title"></app-management-bar>

    <div class="bg-white shadow rounded-lg p-4 overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead>
                <tr>
                    @for (field of productFields; track field) {
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        {{ field.header }}
                    </th>
                    }
                </tr>
            </thead>

            @if (productList$ | async; as productResults) {
            <tbody class="bg-white divide-y divide-gray-200">
                @for (product of productResults.products; track product.id) {
                <tr (click)="selectProduct(product)" class="cursor-pointer hover:bg-gray-100 transition">
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ product.id }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ product.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ product.gamma }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ product.description }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ product.supplier.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ product.sellPrice }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ product.supplierPrice }}</td>
                </tr>
                }
            </tbody>
            }
        </table>
    </div>

    <!-- Modal -->
    @if (isModalOpen) {
    <app-modal [label]="modalLabel" [title]="title" (close)="closeModal()">

        @for (field of productFields; track field) {
        <app-input [inputId]="field.name" [label]="field.header" [type]="field.type"
                   [value]="selectedProduct ? selectedProduct.name : ''" width="100%"></app-input>}

    </app-modal>
    }
</main>